<h1>About</h1>
<p>
<%= link_to "#" %>
is a project to allow users to post their interesting stories each day. With the use of collages of photos, videos, and text. We provide a place to exhibit creativity through storytelling.

</p>